bin/Transform2DH5ParticleDataTo3D 
bin/cuDFNsys_exe
bin/*.m
bin/*.py
bin/*.h5
bin/ParticlePositionResult
lib/libcuDFNsys*
lib/build/CMakeCache.txt  
lib/build/CMakeFiles/*  
lib/build/cmake_install.cmake
MatlabScript_GenFracs/*.h5

QuickStartGuide/QuickStartGuide
QuickStartGuide/Transform2DH5ParticleDataTo3D
QuickStartGuide/*.m
QuickStartGuide/*.py
QuickStartGuide/*.h5
QuickStartGuide/ParticlePositionResult
QuickStartGuide/ReRunPT
QuickStartGuide/*.avi

SomeApplications/*/*.avi 
SomeApplications/*/*.txt 
SomeApplications/*/main* 
SomeApplications/*/Level2 
SomeApplications/*/DFN_result/* 
SomeApplications/*/Transform2DH5ParticleDataTo3D 
SomeApplications/*/ColumnLikeDomainForDispersion 
SomeApplications/*/QuickStartGuide 
SomeApplications/*/QuickStartGuide_* 
SomeApplications/*/ContinueParticleTransport 
SomeApplications/*/ValidateLocalDiffusion 
SomeApplications/*/ConvertH5Precision
SomeApplications/ValidationOfDispersionPhDThesis/NumerousInclinedFractures/*
SomeApplications/ValidationOfDispersionPhDThesis/SingleFrac1/*
SomeApplications/ValidationOfDispersionPhDThesis/SingleFrac2/*
SomeApplications/ValidationOfDispersionPhDThesis/SingleFrac3/*
SomeApplications/ValidationOfDispersionPhDThesis/TwoIntersectingFrac/*
SomeApplications/ValidationOfDispersionPhDThesis/TwoIntersectingFracPe_0.1/*
SomeApplications/ValidationOfDispersionPhDThesis/TwoNonintersectingFrac/*
SomeApplications/ValidationOfDispersionPhDThesis/TwoNonintersectingFracPe_0.1/*
SomeApplications/*/DFN_Gen
SomeApplications/*/DFN_Flow
SomeApplications/*/DFN_Mesh
SomeApplications/*/DFN_PT
SomeApplications/*/ThreadParallel_*
SomeApplications/*/TestParallel
SomeApplications/*/SomeScripts/test/*
SomeApplications/*/LoadDFNAndChangePercolationDirection
SomeApplications/*/LoadMeshRenumberingEdge

SomeApplications/*/*.h5
SomeApplications/*/*.m
SomeApplications/*/*.py
SomeApplications/*/ParticlePositionResult

!SomeApplications/AnisotropicPermeability_GetData/StoreAndDelteHDF5.py
!SomeApplications/AnisotropicPermeability_GetData/AssembleData.py

GUI/*.h5
GUI/dist/*
GUI/*.py
GUI/*.m
GUI/DFN_Gen
GUI/Transform2DH5ParticleDataTo3D
GUI/MCIterations
GUI/DFN_Flow
GUI/DFN_Mesh
GUI/DFN_PT
GUI/ParticlePositionResult/*
GUI/*.csv